<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stopsmoke">

<application
android:allowBackup="true"
android:icon="@drawable/ic_notification"
android:label="@string/app_name"
android:roundIcon="@drawable/ic_notification"
android:supportsRtl="true"
android:theme="@style/Theme.StopSmoke">

<activity
    android:name=".ProgressActivity"
    android:exported="false" /> <!-- Typically not exported if no intent filters -->

<activity
    android:name=".SettingsActivity"
    android:exported="false" /> <!-- Typically not exported if no intent filters -->

<activity
    android:name=".MainActivity"
    android:exported="true"> <!-- Must be exported as it has an intent filter -->
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

</application>

    </manifest>
